
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Lab 1 - Task-checkpoint.pdf
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
notebook/.ipynb_checkpoints/Lab1-checkpoint.ipynb
